<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <!-- <i class="fas fa-duotone fa-hospital-user"></i> -->
    <i class="fas fa-hospital-user fa-user fa-6x"></i>
    <h1 class="display-3">Here are your appointments!</h1>

    <%usersWithSecrets.forEach(function(user) {%>
      <%const nameArray = user.secret;%>
      <%const genderArray = user.gender;%>
      <%const secretArray = user.date;%>
      <%const locationArray = user.location;%>

        <%for(var i=0;i<secretArray.length;i++){%>
          <p class="secret-text"><%=secretArray[i]%>           <%=locationArray[i]%></p>
        <%}%>

    <%});%>
    </div>


    <hr>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Make a new Appointment</a>
  </div>
</div>

<%- include('partials/footer') %>
